@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   background-image: url('./assets/image.jpg');
   min-height: 100vh;
   margin: 0;
   background-size: cover;
   background-position: center center;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   font-size: 4rem;
}

.countdown-container {
   display: flex;
}

.big-text {
   font-size: 6rem;
   line-height: 1;
   margin: 0 2rem;
}

.countdown-item {
   text-align: center;
}
