@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   background-image: url('./assets/image.jpg');
   min-height: 100vh;
   margin: 0;
   background-size: cover;
   background-position: center center;
}
